* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1300px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  margin-top: 40px;
  margin-bottom: 32px;
}


.header__wrapper {}

.header__logo {}

.search {

  border: 1px solid #e5e5ea;
  border-radius: 60px;
  padding: 16px 24px;
  width: 471px;
  height: 15px;

}

.header__poisk {}

.header__link {
  align-items: center;
  display: flex;
  gap: 20px;
  width: 302px;
  height: 38px;

  a {
    font-weight: 500;
    font-size: 16px;
    color: #000;
    color: black;
    text-decoration: none;

  }
}

.header__btn {

  display: flex;
  justify-content: space-between;
  gap: 20;


  & button {
    border-radius: 33px;
    padding: 16px;
    width: 151px;
    height: 47px;
    border: none;
    background: rgba(0, 122, 255, 0.12);
  }

  & img {

    background-size: 40px;
  }

}

.header__img {

padding: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 4px 4px 20px 0px rgba(34, 60, 80, 0.4);
  margin-right: 15px;

}




.hero__img {
  border-radius: 12px 12px 0 0;
  width: 889px;
  height: 490px;
margin-right: 20px;
}

.hero__box {
border-radius: 12px;
  border: 1px;
  flex-direction: column;
  width: 432px;
  height: 490px;
  box-shadow: 0 18px 34px 0 rgba(5, 16, 55, 0.15);
  background: #fff;

}
.hero__block{
  display: flex;
margin-left: 35px;
margin-right: 35px;
gap: 20px;
margin-bottom: 72px;
}
.hero__box-info{
  display: flex;
gap: 10px;
}
.hero__box-header{
  width: 360px;
  height: 108px;
  margin: 45px 35px;

  & h2 {
    font-weight: 500;
    font-size: 28px;
    line-height: 129%;
    color: #000;
    margin-bottom: 12px;
  }
  & img{
    width: 103px;
height: 24px;

  }
}

.hero__wrapper {
  display: flex;
}
.hero__box-title{
  flex-direction: row;
  & h2{

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;
  }
  

  & h3 {

    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #000;
  }

  & p {
    font-weight: 500;
    font-size: 16px;
    line-height: 112%;
    color: #8e8e93;
  }
}

.hero__box-about {
  flex-direction: row;
  h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;
  }

   h3 {

    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #000;
  }

   p {
    font-weight: 500;
    font-size: 16px;
    line-height: 112%;
    color: #8e8e93;
  }
}


.hero__btn {
  width: 360px;
  height: 94px;
margin-left: 35px;
margin-right: 35px;
}

.hero__btn1 {
  border: none;
  border-radius: 45px;
  padding: 20px 10px;
  width: 360px;
  height: 56px;
  background: #007aff;
  color: #fff;
}

.hero__btn2 {
  font-weight: 500;
  font-size: 16px;
  color: #007aff;
  text-align: center;
  background-color: #fff;
margin: 20px 130px 0 130px;
  border: none;
}




.live {
  margin: 90px 0;
  // .live__top

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  // .live__wrapper

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;

  }

  // .live__card

  &__card {
    display: flex;
    flex-direction: column;
  }

  // .live__card-img

  &__card-img {
    width: 100%;
  }

  // .live__card-box

  &__card-box {
    border: 1px solid gray;
    padding: 20px;
    border-top: none;
    border-radius: 0 0 20px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;

    h3 {
      margin-bottom: 20px;
    }

    div {
      margin-top: auto;
      display: flex;
      justify-content: space-between;

      align-items: flex-end;
      color: gray;

      b {
        color: black;
      }
    }

  }
}





.footer {
  background: black;
  padding: 30px;
}
.footer__search {

  button{
    margin-left: -50px;
    border-radius: 72px;
padding: 10px 10px 10px 12px;
width: 98px;
border: none;

color: white;
background: #007aff;
  }
  input {
    border-radius: 72px;
    padding: 10px 10px 10px 24px;
    width: 427px;
    border: none;
  }
}
.footer__menu {
  color: #ffffff;

  h3 {color: #fff;
    margin-bottom: 20px;
  }
}
.footer__cards {
  display: flex;
  gap: 20px;
  flex-direction: column;
  color: white;
}
.footer__card {
  display: flex;
  gap: 20px;
  flex-direction: column;
  color: white;
}
.footer__wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  justify-items: center;
  gap: 20px;

  @media (max-width: 980px) {


    grid-template-columns: 2fr 1fr;
  }
  
  @media (max-width: 777px) {
    justify-items: start;
    gap: 40px;
    input{
      width: 200px;
    }
   
    grid-template-columns: 1fr;
  }
 
}